examples/cts-example.json
[{"id":"6bf49cd3.1c83c4","type":"inject","z":"d8cb3879.806298","name":"on for 5 minutes","props":[{"p":"countdown","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":140,"y":100,"wires":[["8717ce31.4547c"]]},{"id":"68e40dc6.7acac4","type":"debug","z":"d8cb3879.806298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":100,"wires":[]},{"id":"8717ce31.4547c","type":"ui_countdown_timer_switch","z":"d8cb3879.806298","name":"","label":"CountdownExample","group":"119bd180.ae754f","order":0,"width":0,"height":0,"countdowns":["5","10","15","30"],"onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","topic":"countdownswitch","showDropdown":false,"x":380,"y":100,"wires":[["68e40dc6.7acac4"]]},{"id":"3ea58ea6.eff4f2","type":"inject","z":"d8cb3879.806298","name":"turn switch off","props":[{"p":"countdown","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":130,"y":140,"wires":[["8717ce31.4547c"]]},{"id":"119bd180.ae754f","type":"ui_group","name":"Countdown Timer Switch","tab":"26b38e24.03fa62","order":1,"disp":true,"width":"6","collapse":false},{"id":"26b38e24.03fa62","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]